mixin range_slider(number, redGreen)
  .range-slide
    .range-slide__row
    span(class="range-slide__num range-slide__num-"+redGreen)= number
    span(class="range-slide__circle range-slide__circle-"+redGreen)