mixin arrow(nextOrprev, disabled)
  if disabled
    button(class="arrow-btn arrow-btn_"+nextOrprev disabled)
      span.arrow-btn_icon
  else
    button(class="arrow-btn arrow-btn_"+nextOrprev)
      span.arrow-btn_icon