.arrow-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #4eb7a8;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  &--next .arrow-btn__icon{
    transform: rotateZ(45deg);
    left: -8%;
  }
  &--prev .arrow-btn__icon{
    transform: rotateZ(-135deg);
    left: 8%;
  }
  &__icon{
    border-right: 3px solid #4eb7a8;
    border-top: 3px solid #4eb7a8;
    width: 15px;
    height: 15px;
    transform-origin: center;
    position: relative;
    transition: inherit;
  }
  &:hover{
    background-color: #4eb7a8;
    transition: .3s;
    .arrow-btn__icon{
      border-color: #fff;
    }
  }
  &:disabled{
    border-color: #e5e5e5;
    background-color: #e5e5e5;
    cursor: default;
    .arrow-btn__icon{
      border-color: #fff;
    }
  }
}