@font-face {
  font-family: 'listcategory';
  src:
    url('fonts/listcategory.ttf?f5ky4c') format('truetype'),
    url('fonts/listcategory.woff?f5ky4c') format('woff'),
    url('fonts/listcategory.svg?f5ky4c#listcategory') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'listcategory' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullpage:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e901";
  color: #8e8d8d;
}
.icon-chat:before {
  content: "\e902";
  color: #8e8d8d;
}
.icon-geo:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e986";
}
.icon-fb:before {
  content: "\ea90";
}
.icon-tw:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
