.elem-jchart {
  display: inline-block;
  width: 95px;
  height: 95px;
  vertical-align: top;
}
.jchart__body, .jchart{height: 100%;}
.jchart__figure{padding: 0;margin: 0;height: 100%;}
.jchart__donut__segment{
  r: 17;
}
circle{
  stroke-width: 7;
}