.figure{
  position: relative;
  font-size: 95px;
  width: 1em;
  height: 1em;
  &__donut{
    pointer-events: stroke;
  }
  &__segment:hover + .figure__text-block{
    opacity: 1;
    @include transition;
  }
  &__text-block{
    font-weight: bold;
    transform: translateY(0.25em);
    opacity: 0;
    @include transition;
  }
  &__text{
    font-size: .06em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.25em);
  }
}


