mixin messaging(options)
  .messaging
    .messaging__header
      h3.messaging__adminname= options.name
    .messaging__content
      .msg-admin
        .msg-admin__photo
          img(src="assets/img/"+options.photoname alt=""+options.alt)
        .msg-icons
          a(class="msg-icons__item" href=""+(options.chatHref ? options.chatHref : '#'))
            i.icon-chat
          a(class="msg-icons__item" href=""+(options.photoHref ? options.photoHref : '#'))
            i.icon-camera
        .msg-admin__welcome
          p= options.welcomeText
      .msg-guest
        textarea(class="msg-guest__message" placeholder="Messages")
        +button({size: 'big',color: 'green',text: 'Reply',myClass: 'form_btn'})