mixin messaging(options, myClass)
  .messaging(class=(myClass ? myClass : false))
    .messaging__header(class="messaging__header--"+options.bgColor)
      h3.messaging__adminname= options.name
    .messaging__content
      .msg-admin
        .msg-admin__photo
          img(src="assets/img/"+options.photoname alt=""+options.alt)
        .msg-icons
          a(class="msg-icons__item" 
            href=""+(options.chatHref ? options.chatHref : '#'))
            i.icon-chat
          a(class="msg-icons__item" 
            href=""+(options.photoHref ? options.photoHref : '#'))
            i.icon-camera
        .msg-admin__welcome
          p= options.welcomeText
      .msg-guest
        textarea(class="msg-guest__message" placeholder="Messages")
        +button({size: 'big',text: 'Reply'}, 'msg-guest__btn--'+options.bgColor)


//- +messaging({photoname: 'user2.png', 
//-             alt: 'user2', 
//-             name: 'Sarah Brown',
//-             welcomeText: 'Hey! So are we cool to meet at the art gallery? Say 8pm',
//-             bgColor: 'green',
//-             chatHref: '',
//-             photoHref: ''})