.searching{
  display: flex;
  height: 2em;
  width: 288px;
  &__input{
    width: calc(100% - 33px);
    padding-left: .95em;
    background-color: #e5e5e5;
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    @include placeholder{
      color: #888;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
    }
    &--not{
      background-color: $color1;
      @include placeholder{
        color: #fff;
      }
      & + .searching__btn{
        background-color: $color1;
      }
    }
  }
  &__btn{
    border: none;
    width: 33px;
    border-bottom-right-radius: .3em;
    border-top-right-radius: .3em;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    &--red{
      background-color: $color1;
    }
    &--green{
      background-color: $color2;
    }
  }
}


//  drop
.drop{
  position: relative;
  width: 288px;
  height: 2em;
  &__label{
    position: relative;
    display: block;
    height: 100%;
    border-radius: .3em;
    z-index: 99;
  }
  &__btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    height: 100%;
    padding-top: .4em;
    border-bottom-right-radius: .3em;
    border-top-right-radius: .3em;
    &--red{
      background-color: $color1;
    }
    &--green{
      background-color: $color2;
    }
    &::after{
      content: '';
      display: block;
      width: .7em;
      height: .7em;
      margin: 0 auto;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
  &-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: .3em;
    height: 2em;
    overflow: hidden;
    font-size: 1em;
    color: #fff;
    &--green{
      background-color: $color2;
    }
    &--red{
      background-color: $color1;
    }
    :checked + label{
      order: -1;
      border-top: 0;
      background-color: #e5e5e5;
      color: #888;
      line-height: 2em;
    }
    &__item{
      line-height: 2.5em;
      padding-left: .95em;
      order: 0;
    }
    &__inp{
      @include inputHide;
    }
  }
  &__inp{
    @include inputHide;
    &:checked ~ .drop-list{
      height: auto;
      z-index: 999;
    }
    &:checked + label{
      z-index: 9999;
      .drop__btn{
        padding-top: .8em;
        border-bottom-right-radius: 0;
        &::after{
          transform: rotate(225deg);
        }
      }
    }
    &.focuselem + .drop__label{
      .drop__btn{
        box-shadow: 0 0 1px 1px rgba(0,100,255,0.8);
      }
    }
    &:disabled + .drop__label{
      opacity: .5;
    }
  }
}