.user{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 270px;
  min-height: 94px;
  &__img{
    width: 94px;
    height: 94px;
    border: 5px solid #e5e5e5;
    border-radius: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-about{
    position: relative;
    flex-grow: 1;
    background-color: #e5e5e5;
    min-height: 94px;
    text-align: center;
    margin-left: 15px;
    padding: 12px;
    border-radius: .7em;
    @include transition;
    &::before{
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      background-color: #e5e5e5;
      border-radius: .25em;
      position: absolute;
      left: -.4em;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      @include transition;
    }
    &--red:hover{
      background-color: $color2;
      @include transition;
      &::before{
        background-color: $color2;
        @include transition;
      }
    }
    &--green:hover{
      background-color: $color1;
      @include transition;
      &::before{
        background-color: $color1;
        @include transition;
      }
    }
    &:hover *{
      color: #fff;
      @include transition;
    }
    &__name{
      font-size: 1.28em;
      font-weight: 500;
      margin-bottom: 8px;
      line-height: 1;
      &--red{
        color: $color1;
      }
      &--green{
        color: $color2;
      }
    }
    &__vocation{
      font-size: .78em;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .05em;
      margin-bottom: 1.14em;
      line-height: 1;
    }
  }
  &-soc{
    font-size: 1.43em;
    color: #757575;
    &__item{
      margin: 0 8px;
      &--red{
        color: $color1;
      }
      &--green{
        color: $color2;
      }
    }
  }
}