mixin input(type, name, placeholder)
  p.inp
    input(class="inp_item" type=""+type name=""+name placeholder=""+placeholder)
    span.msg.msg__err Error
    span.msg.msg__ok  Thanks!

mixin textarea(placeholder)
  p.inp
    textarea(class="inp_item txt_area" placeholder=""+placeholder)

mixin radioOffON(name, checked, text)
    label.offon
      if (checked === 'checked')
        if (text)
          input(class="offon__input" checked type="radio" name=""+name)
          p.offon-btn
            span(class="offon-btn__item offon-btn__item-off") Off
            span(class="offon-btn__item offon-btn__item-on") On
          | #{text}
        else
          input(class="offon__input" checked type="radio" name=""+name)
          p.offon-btn
            span(class="offon-btn__item offon-btn__item-off") Off
            span(class="offon-btn__item offon-btn__item-on") On
      else
        if (text)
          input(class="offon__input" type="radio" name=""+name)
          p.offon-btn
            span(class="offon-btn__item offon-btn__item-off") Off
            span(class="offon-btn__item offon-btn__item-on") On
          | #{text}
        else
          input(class="offon__input" type="radio" name=""+name)
          p.offon-btn
            span(class="offon-btn__item offon-btn__item-off") Off
            span(class="offon-btn__item offon-btn__item-on") On

mixin boxes(name, checked, text)
  if (checked === 'checked')
    if (text)
      label.check
        input(class="check__input" type="checkbox" name=""+name checked)
        span.check__box
        | #{text}
    else
      label.check
        input(class="check__input" type="checkbox" name=""+name checked)
        span.check__box
  else
    if (text)
      label.check
        input(class="check__input" type="checkbox" name=""+name)
        span.check__box
        | #{text}
    else
      label.check
        input(class="check__input" type="checkbox" name=""+name)
        span.check__box