// inputs
.inp{
  width: 100%;
  margin: 0 0 12px;
  display: flex;
  align-items: center;
  @include mySize{
    overflow-x: hidden;
  }
  &__item{
    flex-grow: 1;
    background-color: #e5e5e5;
    color: #888;
    border: none;
    font-size: 14px;
    height: 28px;
    padding: 0 12px;
    border-radius: .3em;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.14px;
    @include placeholder {
      font-family: 'Source Sans Pro', sans-serif;
      color: #888;
      transition: opacity 0.3s ease;
      font-size: 14px;
    }
  }
  &__area{
    min-height: 88px;
    padding-top: 8px;
  }
  &__msg{
    position: relative;
    margin-left: 0;
    background-color: #e5e5e5;
    width: 0;
    opacity: 0;
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .3em;
    color: #fff;
    letter-spacing: .5px;
    transition: .3s;
    &::before{
      content: '';
      display: none;
      width: 6px;
      height: 6px;
      position: absolute;
      left: -3px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border-radius: 1px;
    }
    &--err{
      background-color: $color1;
      &::before{
        background-color: $color1;
      }
    }
    &--ok{
      background-color: $color2;
      &::before{
        background-color: $color2;
      }
    }
    &--active{
      margin-left: 7px;
      width: 72px;
      opacity: 1;
      &::before{
        display: block;
      }
    }
  }
}
// inputs end


//  radio buttons
.offon{
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .offon-btn{
      .offon-btn__item--green{
        display: block;
        background-color: $color2;
      }
      .offon-btn__item--red{
        display: block;
        background-color: $color1;
      }
      .offon-btn__item--off{
        display: none;
      }
    }
    &.focuselem + .offon-btn{
      @include outline;
    }
    &:disabled + .offon-btn{
      opacity: .5;
    }
  }
  &-btn{
    width: 3.75em;
    height: 1.5em;
    border-radius: 2em;
    line-height: 1.5em;
    &__item{
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      font-size: .75em;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2em;
      &::after{
        content: '';
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 3px;
      }
      &--off{
        text-align: left;
        background-color: #e5e5e5;
        padding-left: .75em;
        &::after{
          right: 3px;
        }
      }
      &--on{
        text-align: right;
        display: none;
        padding-right: 1em;
        &::after{
          left: 3px;
        }
      }
    }
  }
}
//  radio buttons end


//  checkbox
.check{
  font-size: 16px;
  display: inline-block;
  line-height: 0.8;
  text-align: center;
  margin: 0 10px;
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .check__box--green{
      background-color: $color2;
    }
    &:checked + .check__box--red{
      background-color: $color1;
    }
    &:checked + .check__box{
      &::after{
        border-right-color: #fff;
        border-bottom-color: #fff;
      }
    }
    &.focuselem + .check__box{
      box-shadow: 0 0 1px 1px rgba(0,100,255,0.8);
    }
    &:disabled + .check__box{
      opacity: .5;
    }
  }
  &__box{
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: #e5e5e5;
    border-radius: 50%;
    &::after{
      content: '';
      position: relative;
      top: .15em;
      left: 0;
      display: inline-block;
      width: .5em;
      height: .8em;
      border: .1em solid #c0c0c0;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
    }
  }
}
//  checkbox end

.form-elements__btn{
  display: block;
  margin-left: auto;
  background-color: $color2;
  color: #fff;
  @include mySize{
    margin: 20px auto;
  }
  &:hover{
    color: $color2;
    background-color: #fff;
  }
}













