// inputs

//  placeholder styles
.inp_item::-webkit-input-placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
  opacity: 1; 
  transition: opacity 0.3s ease;
  font-size: 14px;
}
.inp_item::-moz-placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
  opacity: 1; 
  transition: opacity 0.3s ease;
  font-size: 14px;
}
.inp_item:-moz-placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
  opacity: 1; 
  transition: opacity 0.3s ease;
  font-size: 14px;
}
.inp_item:-ms-input-placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
  opacity: 1; 
  transition: opacity 0.3s ease;
  font-size: 14px;
}
.inp_item:focus::-webkit-input-placeholder{
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.inp_item:focus::-moz-placeholder{
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.inp_item:focus:-moz-placeholder{
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.inp_item:focus:-ms-input-placeholder{
  opacity: 0; 
  transition: opacity 0.3s ease;
}
//  placeholder styles end

.inp{
  width: 100%;
  margin: 0 0 12px;
  display: flex;
  align-items: center;
  &_item{
    flex-grow: 1;
    background-color: #e5e5e5;
    color: #888;
    border: none;
    font-size: 14px;
    height: 28px;
    padding: 0 12px;
    border-radius: .3em;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.14px;
  }
}

.msg{
  position: relative;
  margin-left: 0;
  background-color: #e5e5e5;
  width: 0;
  opacity: 0;
  text-align: center;
  height: 28px;
  line-height: 28px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: .3em;
  color: #fff;
  letter-spacing: .5px;
  transition: .3s;
  &::before{
    content: '';
    display: none;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 1px;
  }
  &__err{
    background-color: #e75735;
    &::before{
      background-color: #e75735;
    }
  }
  &__ok{
    background-color: #4eb7a8;
    &::before{
      background-color: #4eb7a8;
    }
  }
  &-active{
    margin-left: 7px;
    width: 72px;
    opacity: 1;
    &::before{
      display: block;
    }
  }
}


//  textarea
.txt_area{
  width: 100%;
  min-height: 88px;
  padding-top: 12px;
  box-sizing: border-box;
}


//  radio buttons
.r_btns{
  
  &__item{
    
    &-off{
      
    }
    &-on{
      
    }
  }
}

//  checkbox
.icon-check{
  
}