mixin pie_chart(p, b)
  div(class="pie-chart" data-pracent=""+p data-boolean=""+b)
    .pie-chart__wrapper
      span.pie-chart__label
        span.pie-chart__num 0
      .pie-chart__pie
        .left-side.half-circle
        .right-side.half-circle
      .pie-chart__shadow