mixin pie_chart(p, b)
  div(class="pie_chart_item donut-size" data-pracent=""+p data-boolean=""+b)
    .pie-wrapper
      span.label
        span.num 0
      .pie
        .left-side.half-circle
        .right-side.half-circle
      .shadow