include modules/standart_btn/button.pug
include modules/arrows_btn/arrow.pug
include modules/pie_chart/pie_chart.pug
include modules/pie_chart2/pie_chart2.pug
include modules/rangeSlider/range_slider.pug
include modules/rangeSlider2/range_slider2.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title FlatUi Components
    script
      include ../node_modules/jquery/dist/jquery.min.js
    script(src="jquery.jchart.js" type="text/javascript")
  body
    .wrapper
      div
        h2.title-block Standart buttons
        .st-buttons
          div
            +button('small', 'green')
            +button('big', 'green')
          div
            +button('big', 'red')
            +button('small', 'red')
      div
        h2.title-block Arrow buttons
        .arrow-buttons
          +arrow('prev')
          +arrow('next')
          +arrow('prev', 'disabled')
          +arrow('next', 'disabled')
          +arrow('prev')
          +arrow('next')
      div
        h2.title-block PERCENTAGES / PIE CHART
        .pie-chart
          script
            include modules/pie_chart/pie_chart.js
          +pie_chart('pie-block1', 0, true)
          +pie_chart('pie-block2', 38, true)
          +pie_chart('pie-block3', 62, true)
          +pie_chart('pie-block4', 89, true)
          +pie_chart2('elem-jchart')
      div
        h2.title-block Sliders
        .slider-block
          +range_slider(36, 'red')
          +range_slider2(75, 'green')
          