include modules/standart_btn/button.pug
include modules/arrows_btn/arrow.pug
include modules/pie_chart/pie_chart.pug
include modules/pie_chart2/pie_chart2.pug
include modules/rangeSlider/range_slider.pug
include modules/rangeSlider2/range_slider2.pug
include modules/stages/stages.pug
include modules/formElements/form.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title FlatUi Components
    script
      include ../node_modules/jquery/dist/jquery.min.js
  body
    .wrapper
      div
        h2.title-block Standart buttons
        .st-buttons
          div
            +button('small', 'green', 'button')
            +button('big', 'green', 'button')
          div
            +button('big', 'red', 'button')
            +button('small', 'red', 'button')
      div
        h2.title-block Arrow buttons
        .arrow-buttons
          div
            +arrow('prev')
            +arrow('next')
          div
            +arrow('prev', 'disabled')
            +arrow('next', 'disabled')
          div
            +arrow('prev')
            +arrow('next')
      div
        h2.title-block PERCENTAGES / PIE CHART
        .pie-chart
          +pie_chart(0, true)
          +pie_chart(38, true)
          +pie_chart(62, true)
          +pie_chart(89, true)
          +pie_chart2('elem-jchart')
      div
        h2.title-block Sliders
        .slider-block
          +range_slider(36, 'red')
          +range_slider2(75, 'green')
      div
        h2.title-block Stages
        .stages-block
          +stagesItem('5', '3', 'red')
      div
        h2.title-block FORM ELEMENTS
        form.form_elements
          div
            +input('text', 'Name', 'Your Name')
            +input('email', 'email', 'Your email')
            +textarea('Your Message')
            +button('big', 'green', 'submit', 'form_btn')
          div
            div
              h3.title-block.form-title TOGGLES
              +radio('r', 2)
            div
              h3.title-block.form-title TICK BOXES
              +boxes(['box1', 'box2'])