include modules/search_drop/search.pug
include modules/menubtn/menubtn.pug
include modules/newsEvents/news.pug
include modules/arrows_btn/arrow.pug


doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Shoping Center
  body
    include blocks/header/header.pug
    .wrapper
      include blocks/slider/slider.pug