// input placeholders
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
// input placeholders end

// transition
@mixin transition {
  transition: all .3s ease-in-out;
}

// input-hidden
@mixin inputHide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

//  outline
@mixin outline{
  box-shadow: 0 0 1px 1px rgba(0, 100, 238, .5) !important;
}


// Small tablets and large smartphones (landscape view)
$sm-max: 479px;

// Small tablets (portrait view)
$md-max: 767px;

// Tablets and small desktops
$lg-max: 959px;

// Large tablets and desktops
$xl-max: 1199px;

// Large tablets and desktops
$xl-min: 1200px;

$my: 640px;


// Small devices
@mixin dev1 {
   @media screen and (max-width: $sm-max) {
       @content;
   }
}

// Medium devices
@mixin dev2 {
   @media screen and (max-width: $md-max) {
       @content;
   }
}

// Large devices
@mixin dev3 {
   @media screen and (max-width: #{$lg-max}) {
       @content;
   }
}

// Extra large devices
@mixin dev4 {
   @media screen and (max-width: $xl-max) {
       @content;
   }
}

// Extra large devices
@mixin dev4Min {
   @media screen and (min-width: $xl-min) {
       @content;
   }
}

// my devices size
@mixin mySize {
   @media screen and (max-width: $my) {
       @content;
   }
}