// All fonts
//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Source+Sans+Pro:300,400');

//font-family: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

//font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');


//*, *::after, *::before{box-sizing: border-box;}

@import "../vendor/font.css";

@import "_mixins.scss";

:focus{
  @include placeholder {
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
}

input, textarea, button, a{
  outline: none;
}
.focuselem{
  @include outline;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{color: inherit; text-decoration: none;}
ul{list-style: none;}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}


.component-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 595px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
  box-sizing: content-box;
  & > div{
    margin-bottom: 60px;
  }
}

.title2,
.title3{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #4f4f4f;
}
.title2{
  margin-bottom: 40px;
}
.title3 {
	margin-bottom: 30px;
}




@import "../modules/standart_btn/button.scss";
@import "../modules/arrows_btn/arrow.scss";
@import "../modules/pie_chart/pie_chart.scss";
@import "../modules/pie_chart2/pie_chart2.scss";
@import "../modules/rangeSlider/range_slider.scss";
@import "../modules/rangeSlider2/range_slider2.scss";
@import "../modules/stages/stages.scss";
@import "../modules/formElements/form.scss";
@import "../modules/search_drop/search.scss";
@import "../modules/user/user.scss";
@import "../modules/newsEvents/news.scss";
@import "../modules/map/map.scss";
@import "../modules/calendar/calendar.scss";
@import "../modules/messaging/messaging.scss";
@import "../modules/video/video.scss";
@import "../modules/calendar/jquery-ui.min.css";
@import "../modules/menubtn/menubtn.scss";








//  Standart buttons
.st-buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  & > div {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  @include mySize{
    flex-direction: column;
    padding: 0 10px;
    & > div{
      flex-basis: auto;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
//
////  Arrow buttons
.arrow-buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 60px;
  & > div{
    display: flex;
    justify-content: space-between;
    flex-basis: calc(33% - 24px);
    min-width: 120px;
    margin: 10px;
    @include mySize{
      flex-basis: auto;
    }
  }
}
//
//
// Pie chart
.pie-chart-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mySize{
    justify-content: center;
  }
  & > *{
    margin: 10px;
  }
}


//// Sliders
.slider-block{
  display: flex;
  justify-content: space-between;
  @include mySize{
    flex-direction: column;
    align-items: center;
    & > div{
      margin: 20px 0;
    }
  }
}


//// Form elements
.form-elements{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mySize{
    flex-direction: column;
    align-items: center;
  }
  &>*{
    width: 288px;
  }
}

//// radio and boxes block 
.boxes,
.toggles{
  text-align: center;
}

.toggles{
  margin-bottom: 40px;
}



.searchdrop_userprofile{
  display: flex;
  justify-content: space-between;
  @include mySize {
    flex-direction: column;
    align-items: center;
  }
}

.c-search-drop{
  margin-bottom: 16px;
}
.c-user-profile{
  margin-bottom: 27px;
}




// .newsevents
.calendar-messaging,
.newsevents{
  display: flex;
  justify-content: space-between;
  @include mySize{
    flex-direction: column;
    align-items: center;
  }
}

.c-newsevents{
  @include mySize{
    margin-bottom: 20px;
  }
}




////////////////////////////////////  shoping center styles

@import "../blocks/header/header.scss";
@import "../blocks/slider/slider.scss";





.wrapper{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}














