// All fonts
//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Source+Sans+Pro:300,400');

//font-family: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

//font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');


//*, *::after, *::before{box-sizing: border-box;}

@import "../vendor/font.css";

@import "_mixins.scss";

:focus{
  @include placeholder {
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
}
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{list-style: none;}

body {
  font-family: 'Lato', sans-serif;
}


.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 595px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
  box-sizing: content-box;
  & > div{
    margin-bottom: 60px;
  }
}

.title2,
.title3{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.title2{
  margin-bottom: 40px;
}
.title3 {
	margin-bottom: 30px;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}


@import "../modules/standart_btn/button.scss";
@import "../modules/arrows_btn/arrow.scss";
@import "../modules/pie_chart/pie_chart.scss";
@import "../modules/pie_chart2/pie_chart2.scss";
@import "../modules/rangeSlider/range_slider.scss";
@import "../modules/rangeSlider2/range_slider2.scss";
@import "../modules/stages/stages.scss";
@import "../modules/formElements/form.scss";
@import "../modules/search_drop/search.scss";




//  Standart buttons
.st-buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  & > div {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 640px){
  .st-buttons{
    flex-direction: column;
    padding: 0 10px;
    &>div{
      flex-basis: auto;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}


//  Arrow buttons
.arrow-buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 60px;
  & > div{
    display: flex;
    justify-content: space-between;
    flex-basis: calc(33% - 24px);
    min-width: 120px;
    margin: 10px;
  }
}
@media only screen and (max-width: 640px){
  .arrow-buttons{
    & > div{
      flex-basis: auto;
    }
  }
}


// Pie chart
.pie-chart{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > div{
    margin: 10px;
  }
}
@media only screen and (max-width: 640px){
  .pie-chart{
    justify-content: center;
  }
}


// Sliders
.slider-block{
  display: flex;
  justify-content: space-between;
  & > div{
    width: 260px;
  }
}
@media only screen and (max-width: 640px){
  .slider-block{
    flex-direction: column;
    align-items: center;
    & > div{
      margin: 20px 0;
    }
  }
}


// Stages block
.stages-block{
  
}


// Form elements
.form_elements{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &>*{
    width: 288px;
  }
}

//  form button
.form_btn{
  display: block;
  margin-left: auto;
  background-color: #4eb7a8;
  color: #fff;
  &:hover{
    color: #44ae9f;
    background-color: #fff;
  }
  span{
    background-color: #44ae9f;
  }
}
@media only screen and (max-width: 640px){
  .form_elements{
    flex-direction: column;
    align-items: center;
  }
  .form_btn{
    margin: 20px auto;
  }
}

//  textarea
.txt_area{
  width: 100%;
  min-height: 88px;
  padding-top: 12px;
}

// radio and boxes block 
.boxes,
.toggles{
  text-align: center;
  line-height: .9;
}

.boxes .check + .check{
  margin-left: .9em;
}

.toggles{
  margin-bottom: 40px;
  .offon + .offon{
    margin-left: .9em;
  }
}




//  search / drop down
.search-drop{
  width: 288px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
  font-size: 14px;
}