mixin button(bigOrsmall, redOrgreen, text, unikalClass)
  - var bs = "st-btn_"+bigOrsmall
  - var rg = "st-btn_"+redOrgreen
  if (unikalClass)
    button(class="st-btn "+bs +" "+rg +" "+unikalClass)= text
      span
  else
    button(class="st-btn "+bs +" "+rg)= text
      span