mixin button(options, myClass)
  - var bs = "st-btn--"+options.size
  - var rg = "st-btn--"+options.color
    button(class="st-btn ripple-elem "+bs +" "+rg +" "+(myClass ? myClass : ''))= options.text


//- +button({size: 'small/big',color: 'green/red',text: 'button'})