mixin button(options)
  - var bs = "st-btn--"+options.size
  - var rg = "st-btn--"+options.color
    button(class="st-btn "+bs +" "+rg +" "+(options.myClass ? options.myClass : ""))= options.text
      span.st-btn__circle