.st-btn{
  position: relative;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  &--big{
    width: 118px;
    height: 32px;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: .3em;
  }
  &--small{
    width: 78px;
    height: 22px;
    font-size: 10px;
    letter-spacing: 0.5px;
    border-radius: .2em;
  }
  &--red{
    color: #e34a26;
    border: 1px solid #e75735;
    box-shadow: 0 3px #bf3e1f;
    &:hover{
      color: #fff;
      background-color: #e75735;
      transition: all .3s;
    }
  }
  &--green{
    color: #44ae9f;
    border: 1px solid #4eb7a8;
    box-shadow: 0 3px #28a290;
    &:hover{
      color: #fff;
      background-color: #4eb7a8;
      transition: all .3s;
    }
  }
  .ripple{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.4s linear;
  }
  &:active{
    box-shadow: none;
  }
}

@keyframes ripple {
  to {
    transform: scale(.8);
    opacity: .3;
  }
}

