mixin video(options, myClass)
  .video-block(class=(myClass ? myClass : false))
    video(class="video" poster="assets/img/"+options.photoname)
      - for (let i=0; i<options.videoname.length; i++)
        source(src="assets/video/"+options.videoname[i] 
                type=""+options.videotype[i])
      p Your browser doesn't support HTML5 video.
    #video-controls.controls
      button(type="button" class="controls__pp") &rtrif;
      .controls__range
        .controls__lavel
        input(type="range" value="0" class="controls__seekbar")
      button(type="button" class="controls__fullscreen controls__fullscreen--"+options.fullpagecolor)
        i.icon-fullpage


//- +video({photoname: 'video.png',
//-         fullpagecolor: 'red/green',
//-         videoname: ['videoplayback.webm','videoplayback.mp4','videoplayback.ogv'],
//-         videotype: ['video/webm', 'video/mp4', 'video/ogv']})